@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

* {
	margin: 0;
}

/* navbar top */
.navbar-top {
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.logo h3 {
	font-weight: bold;
	font-size: 30px;
	padding-top: 3px;
}

.logo img {
	width: 70px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

@media screen and (max-width:420px) {
	.logo h3 {
		font-size: 20px;
	}
}

/* navbar top */


/* navbar */
#navbar-color {
	background-color: rgb(0, 0, 0);
}

.navbar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding: 0;
	list-style: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.nav-link {
	font-weight: bold;
	color: rgb(255, 255, 255);
	transition: 0.5s ease;
	cursor: pointer;
	text-decoration: none;
	line-height: 50px;
}

.nav-link:hover {
	color: rgb(0, 126, 96);
}

.nav-item {
	margin: 0 10px;
}

/* FINE NAVBAR */

.titolo {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-align: center;
	font-size: 30px;
	padding-top: 30px;
}

.paragrafo {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
	font-weight: bold;
}

/* INIZIO CARDS*/
.hero-section {
	--text-light: rgba(255, 255, 255, 0.6);
	--text-lighter: rgba(255, 255, 255, 0.9);
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;
	--width-container: 1200px;
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	align-items: flex-start;
	display: flex;
	min-height: 100%;
	justify-content: center;
	padding: var(--spacing-xxl) var(--spacing-l);
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: var(--spacing-l);
	grid-row-gap: var(--spacing-l);
	max-width: var(--width-container);
	width: 85%;
}

@media(min-width: 540px) {
	.card-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(min-width: 960px) {
	.card-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card {
	list-style: none;
	position: relative;
}

.card:before {
	content: '';
	display: block;
	padding-bottom: 150%;
	width: 100%;
}

.card__background {
	background-size: cover;
	background-position: center;
	border-radius: var(--spacing-l);
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	transform: scale(1) translateZ(0);
	transition:
		filter 200ms linear,
		transform 200ms linear;
}

.card:hover .card__background {
	transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
	filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
	left: 0;
	padding: 40px 20px;
	position: absolute;
	top: 0;
}

.card__category {
		font-size: 120% !important;
	color: var(--text-light);
	font-size: 0.9rem;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.card__heading {
		font-size: 170% !important;
	color: var(--text-lighter);
	word-spacing: 100vw;
}

.card__heading {
	font-size: 1.3rem;
	/* Adjust font size as needed */
	line-height: 1.2;
	/* Adjust line height as needed */
	white-space: wrap;
	text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
	padding-left: 0;
}

/*FINE CARDS*/

/*INIZIO FOOTER*/
#footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
	width: 100%;
	background-color: black;
	margin-top: 100px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#footer h1 {
	color: white;
	padding-top: 30px;
}

#footer p {
	color: white;
}

.icons i {
	color: rgba(238, 224, 208);
	font-size: 30px;
	cursor: pointer;
}

.copyright {
	color: white;
	margin-top: 20px;
}

.credite {
	color: white;
}

/* FINE FOOTER */